<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.linkedinurl %}
        <div class="call-phone"><a href="{{ site.data.contact.linkedinurl }}" target="blank"><img src="images/social/linkedin.svg" title="Linkedin" alt="Linkedin" />dfrcl</a> </div>
          
    {% endif %}
    {% if site.data.contact.email %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email }}">
        {{ site.data.contact.email }}
      </a>
    </div>
    {% endif %}
  </div>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
