.tags-card {
  margin: 10px;
  border: 1px solid $primary;
  text-align: center;
  }
.tag-image {
    flex: 0 0 auto;
    display: flex;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
  img {
    max-width:100%;
    height: 50px;
  }
}
