// POST NAVIGATION
.post-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.prev, .next {
  flex-basis: 100%;
  padding: 15px;
  background: $white;
  &:hover {
    background: $white;
    .post-nav-title {
      color: $primary;
      -webkit-transition: all 0.15s ease;
      transition: all 0.15s ease;
    }
  }
  .post-nav-arrow {
    font-size: 14px;
    color: $black;
  }
  .post-nav-title {
    font-size: 18px;
    color: $black;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
}

.prev {
  margin-bottom: 10px;
}

.prev, .next {
  text-align: center;
}
