// POST NAVIGATION
.post-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.prev, .next {
  flex-basis: 100%;
  padding: 15px;
  background: #26272B;
  &:hover {
    background: darken(#26272B, 3%);
    .post-nav-title {
      color: $primary-color;
      transition: $global-transition;
    }
  }
  .post-nav-arrow {
    font-size: 14px;
    color: $text;
  }
  .post-nav-title {
    font-size: 18px;
    color: $text;
    transition: $global-transition;
  }
}

.prev {
  margin-bottom: 10px;
}

.prev, .next {
  text-align: center;
}
