.project-card {
  }
.project-image {
    flex: 0 0 auto;
    width: 200px;
    height: 200px;
    display: flex;
    padding: 20px;
    text-align: center;
    object-fit: contain;
  }
  img {
    width: 100%;
    height: auto;
  }
.project-content{
}
