.project-card {
  }
.project-image {
    flex: 0 0 auto;
    display: flex;
    padding: 20px;
    text-align: center;
    object-fit: contain;
  img {
    max-width:100%;
  }
  }

.project-content{
}
